/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("");
  --header-bg-color: #e7e7e5; /** Transparent color if adding header bg-image **/
  --header-font-color: #000000;
  --brand-font-size: 2.5rem;
  --title-font-family: "Averia Serif Libre", serif;
  --logo-width: 120px;
  --menu-top-bg-color: #ece2d6;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Roboto", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Times New Roman", serif;
  --link-color: #816E68;
  --darkest-color: #282825;
  --medium-color: #766b62;
  --light-color: #ede5da;
  --bright-color: #98a1a0;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
